flows.json
[{"id":"fcc8bd1f.f7085","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16ddc346.56e1fd","type":"function","z":"fcc8bd1f.f7085","name":"PreToken","func":"global.set(\"rad\",msg.payload.rad)\nglobal.set(\"tex\",msg.payload.tex)\nglobal.set(\"peri\",msg.payload.peri)\nglobal.set(\"ar\",msg.payload.ar)\nglobal.set(\"smo\",msg.payload.smo)\nvar apikey=\"MmT11OOkskyr9fjQ8aDqYES2hbjn6oz1b-mRIEmx9kAP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["76605b54.295a44"]]},{"id":"76605b54.295a44","type":"http request","z":"fcc8bd1f.f7085","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":400,"wires":[["12bf32ee.241f5d"]]},{"id":"124434e6.e0f52b","type":"inject","z":"fcc8bd1f.f7085","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["16ddc346.56e1fd"]]},{"id":"12bf32ee.241f5d","type":"function","z":"fcc8bd1f.f7085","name":"Pre Prediction","func":"var rad = global.get('rad')\nvar tex = global.get('tex')\nvar peri = global.get('peri')\nvar ar = global.get('ar')\nvar smo = global.get('smo')\nvar token=msg.payload.access_token\nvar instance_id=\"008bb3b0-2e2c-4408-b4a1-81fe47a12863\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"], \"values\": [[rad,tex,peri,ar,smo]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["d52acfab.ce68e"]]},{"id":"d52acfab.ce68e","type":"http request","z":"fcc8bd1f.f7085","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/0c6782f6-a8e6-41c0-95bd-8083cd6929bc/predictions","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":300,"wires":[["8640fa0.dabe308","9a9ba12c.b749b"]]},{"id":"8640fa0.dabe308","type":"function","z":"fcc8bd1f.f7085","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":220,"wires":[["33b413de.c1c67c"]]},{"id":"33b413de.c1c67c","type":"ui_text","z":"fcc8bd1f.f7085","group":"7d196c34.0c7804","order":1,"width":0,"height":0,"name":"","label":"Diagnosis","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":300,"wires":[]},{"id":"3f07460a.6f880a","type":"ui_form","z":"fcc8bd1f.f7085","name":"","label":"form","group":"7d196c34.0c7804","order":0,"width":0,"height":0,"options":[{"label":"mean_radius","value":"rad","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"tex","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"peri","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ar","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"smo","type":"number","required":true,"rows":null}],"formValue":{"rad":"","tex":"","peri":"","ar":"","smo":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":460,"wires":[["16ddc346.56e1fd"]]},{"id":"9a9ba12c.b749b","type":"debug","z":"fcc8bd1f.f7085","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1380,"y":120,"wires":[]},{"id":"7d196c34.0c7804","type":"ui_group","z":"","name":"","tab":"c9722a91.7e0468","order":4,"disp":true,"width":"6","collapse":false},{"id":"c9722a91.7e0468","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]